.Listproducts{
    background-image: url(https://img.freepik.com/foto-gratis/pared-ladrillo-antiguo-calles-urbanas_23-2148742514.jpg?t=st=1654134737~exp=1654135337~hmac=d5c84641db39518ae4923f2a10e012c07e0b5f78d7ec3a3b9ee43ac25b50e3dc&w=740);
    background-position: center;
    background-size: auto;
    padding: 1rem;
}
.mapJson{
    background-color: rgba(255, 255, 255, 0.519);
    border-radius: .5rem;
    width: 100%;
    margin: 5vh auto;
    padding: 2rem;
}
.img-product{
    width: 220px;
    height: 220px;
    margin: 0 auto;
    border-radius: 1rem;
    filter: drop-shadow(2px 2px 8px #000000);
}
.mapJson-content{
    padding: 1rem;
}
@media (min-width: 700px){

    .map-product{
        margin: 0 auto;
        padding: 1rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .img-product{
        width: 250px;
        height: auto;
    }
    .mapJson{
        width: 95%;
        padding: 2rem;
    }
}